.root {
  box-shadow: 0px 0px 15px 7px rgba(81, 80, 80, 0.22);
  color: gray.300;
  border-radius: 10px;
  margin-top: 10px;
  width: 486px;
  height: 200px;
  overflow: hidden;
  margin: 14px;
  cursor: pointer;
  transition: 0.6s;
}
.root:hover {
  transition: 0.6s;
  transform: translateY(-4px);
  box-shadow: 0px 0px 15px 7px rgba(40, 35, 144, 0.631);
}

.title {
  max-height: 62px;
  font-weight: bold;
  font-size: 30px;
  color: #333;
}

.descriptionDesc {
  font-weight: lighter;
  color: #555;
}
.descriptionCount {
  font-size: 15px;
  font-weight: bold;
  color: #667eea;
}
