.root {
  color: gray.300;
  background: white;
  border-radius: 15px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.6s;
  position: relative;
  border: none;
}

.root::before {
  position: absolute;
  border-radius: 15px;
  content: "";
  width: 100%;
  height: 100%;
  animation: 2s spin linear infinite;
  background: transparent;
  background-image: conic-gradient(
    from var(--angle),
    transparent 0%,
    rgb(102, 126, 234),
    rgb(126, 94, 227),
    rgb(155, 72, 203),
    rgb(173, 67, 179),
    rgb(183, 70, 162),
    rgb(118, 75, 162)
  );
  opacity: 0;
}
.root:hover::before {
  filter: blur(5px);
  opacity: 0.7;
  scale: 1.03;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.root:hover {
  backdrop-filter: blur(10px);
  scale: 1.01;
  background: transparent;
  transform: translateY(-4px);
}
.body {
  background: white;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  gap: 2;
}
.title {
  max-height: 62px;
  font-weight: bold;
  font-size: 30px;
  color: #333;
}

.descriptionDesc {
  font-weight: lighter;
  color: #555;
}
.descriptionCount {
  font-size: 15px;
  font-weight: bold;
  color: #667eea;
}
