.content {
  background: rgba(255, 255, 255, 0.42);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.74);
  align-items: center;
}

.btnTrigger {
  border-radius: 10px;
  transition: 0.5s;
  color: white;
  font-family: system-ui;
}
.btnTrigger:hover {
  background: rgba(255, 255, 255, 0.2);
}

.btnBody {
  background: rgba(0, 110, 255, 0.75);
  transition: 0.2s;
  box-shadow: 0px 5px 0px 0px rgba(95, 156, 212, 0.651);
  border-radius: 10px;
  width: 100%;
}
.btnBody:hover:not(:disabled) {
  background: rgba(0, 110, 255, 0.59);
}

.btnBody:active:not(:disabled) {
  box-shadow: 0px 0px 0px rgba(40, 35, 144, 0.631);
  transition: 0.1s;
  transform: translateY(5px) !important;
}
.btnBodyDisabled,
.btnBodyDisabled:disabled {
  background: rgba(50, 51, 53, 0.774);
  transform: none;
  border-radius: 10px;
  justify-self: center;
  width: 100%;
  cursor: none;
}

.btnClose {
  border-radius: 20px;
}
.btnClose:hover {
  background: rgba(255, 255, 255, 0.2);
}
.hStack {
  border: 1px solid rgba(255, 255, 255, 0.21);
  background: rgba(255, 255, 255, 0.19);
  border-radius: 10px;
  padding: 5px;
  gap: 5;
  scale: 1.2;
  cursor: pointer;
  transition: 1s;
}
.hStack:hover {
  scale: 1.25;
}

.hStackSpanName {
  width: 55px;
  font-weight: bold;
}
.hStackSpanBrief {
  max-width: 291px;
  width: 291px;
}

@media screen and (max-width: 29.9975rem) {
  .btnBody {
    width: 256px;
    align-self: center;
  }
  .hStack {
    width: calc(100% - 50px);
    border: 1px solid rgba(255, 255, 255, 0.21);
    background: rgba(255, 255, 255, 0.19);
    border-radius: 10px;
    padding: 2px;
    gap: 5;
    cursor: pointer;
    align-self: center;
  }
  .hStackSpanName {
    font-size: 12px;
    font-weight: bold;
  }
  .hStackSpanBrief {
    font-size: 12px;
    width: 100%;
  }
}
