.item {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: #fff;
  height: 160px;
  background: rgba(6, 46, 92, 0.459);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  align-items: center;
  position: sticky;
  top: 0px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 100%;
  justify-self: center;
  z-index: 1;
  justify-items: center;
}

.vStack {
  color: black;
  align-content: center;
}

.vStack h1,
.vStack h2,
.vStack p {
  font-weight: bold;
  text-shadow: rgb(0, 0, 0) 2px 2px 4px;
  color: white;
  font-family: system-ui;
}

@media screen and (max-width: 29.9975rem) {
  .vStack h1 {
    font-size: 20px;
  }
  .vStack h2 {
    font-size: 20px;
  }

  .vStack p {
    font-size: 10px;
  }
}
