.btnTrigger {
  height: 160px;
  border-top-right-radius: 10px;
  border-end-end-radius: 10px;
  background: transparent;
}

.btnTrigger:focus {
  background: transparent;
}
.btnTrigger:active {
  background: transparent;
}

.content {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.contentStack {
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 1;
}
